-- CreateTable
CREATE TABLE `amz_feeds` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `products` TEXT NOT NULL,
    `feed_submission_id_product` VARCHAR(50) NOT NULL,
    `feed_submission_id_image` VARCHAR(50) NOT NULL,
    `feed_submission_id_price` VARCHAR(50) NOT NULL,
    `feed_submission_id_inventory` VARCHAR(50) NOT NULL,
    `feed_submission_id_relationship` VARCHAR(50) NOT NULL,
    `status` ENUM('readyforproduct', 'productsubmitted', 'readyforimage', 'imagesubmitted', 'readyforinventory', 'inventorysubmitted', 'readyforprice', 'pricesubmitted', 'readyforrelationship', 'relationshipsubmitted', 'completed', 'error') NOT NULL,
    `errdata` TEXT NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `amz_keys` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `merchant_id` VARCHAR(60) NOT NULL,
    `marketplace_id` VARCHAR(60) NOT NULL,
    `access_key_id` VARCHAR(60) NOT NULL,
    `secret_access_key` VARCHAR(60) NOT NULL,
    `mws_token` VARCHAR(100) NOT NULL,
    `lastdatafetched` DATETIME(0) NOT NULL,
    `lastordersfetched` DATETIME(0) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `amz_orders` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `amz_order_id` VARCHAR(30) NOT NULL,
    `amz_order_response` TEXT NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `amz_reportrequests` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `requestid` VARCHAR(50) NOT NULL,
    `reportid` VARCHAR(50) NOT NULL,
    `reporttype` VARCHAR(255) NOT NULL,
    `status` ENUM('pending', 'requested', 'processed', 'downloaded', 'imported', 'readyforfb', 'readyforur', 'readyforpcr', 'readyforshopify', 'shopifyimported', 'readyforfbdate', 'readyforcatalog', 'readyforsalepricefetch') NOT NULL DEFAULT 'pending',
    `inprocess` BOOLEAN NOT NULL,
    `resync` BOOLEAN NOT NULL DEFAULT false,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `amz_syncqueue` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `data` LONGTEXT NOT NULL,
    `processed` BOOLEAN NOT NULL,
    `user_id` INTEGER NOT NULL,
    `dateofmodification` DATETIME(0) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `channel_products_mapping` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `channel_id` INTEGER NOT NULL,
    `product_id` INTEGER NOT NULL,
    `ebayitemid` VARCHAR(30) NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `chargerequest` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `charge_id` VARCHAR(20) NOT NULL,
    `api_client_id` VARCHAR(20) NOT NULL,
    `price` FLOAT NOT NULL,
    `credits` INTEGER NOT NULL DEFAULT 0,
    `status` VARCHAR(10) NOT NULL,
    `created_at` VARCHAR(25) NOT NULL,
    `updated_at` VARCHAR(25) NOT NULL,
    `response` TEXT NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `collection_mapping` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `shopifyproductid` VARCHAR(40) NOT NULL,
    `shopifycollectionid` VARCHAR(40) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` INTEGER NOT NULL,
    `updated_at` INTEGER NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `crons` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `crontype` VARCHAR(50) NOT NULL,
    `isrunning` BOOLEAN NOT NULL DEFAULT false,
    `lastrun` DATETIME(0) NOT NULL,
    `info` VARCHAR(500) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `eb_keys` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `sellerid` VARCHAR(100) NOT NULL,
    `token` TEXT NOT NULL,
    `siteid` INTEGER NOT NULL,
    `expirydate` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `valid` BOOLEAN NOT NULL DEFAULT true,
    `lastdatafetched` DATETIME(0) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `status` VARCHAR(500) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `eb_requests` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `inprocess` BOOLEAN NOT NULL,
    `status` ENUM('pending', 'completed') NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `eb_syncqueue` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `data` LONGTEXT NOT NULL,
    `processed` BOOLEAN NOT NULL,
    `user_id` INTEGER NOT NULL,
    `dateofmodification` DATETIME(0) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ebproducts` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `sku` VARCHAR(50) NOT NULL,
    `ebayitemid` VARCHAR(30) NOT NULL,
    `listingdate` DATETIME(0) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `qty` INTEGER NOT NULL,
    `price` FLOAT NOT NULL,
    `promotional_sale_id` VARCHAR(30) NOT NULL,
    `ended` BOOLEAN NOT NULL,
    `todelete` BOOLEAN NOT NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `flower_requests` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `type` VARCHAR(30) NOT NULL,
    `inprocess` BOOLEAN NOT NULL,
    `data` VARCHAR(2000) NOT NULL,
    `status` ENUM('pending', 'completed') NOT NULL,
    `user_id` INTEGER NOT NULL,
    `logfile` VARCHAR(50) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `fortags_15715` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `shopifyproductid` VARCHAR(100) NULL,
    `tagremoved` BOOLEAN NOT NULL DEFAULT false,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `importqueue` (
    `id` BIGINT NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `dateofmodification` DATETIME(0) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `inventoryerrors` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `location_id` VARCHAR(30) NOT NULL,
    `inventory_item_id` VARCHAR(30) NOT NULL,
    `available` INTEGER NOT NULL,
    `newimport` BOOLEAN NOT NULL,
    `processed` BOOLEAN NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ipn_requests` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `type` VARCHAR(30) NOT NULL,
    `inprocess` BOOLEAN NOT NULL,
    `status` ENUM('pending', 'completed') NOT NULL,
    `user_id` INTEGER NOT NULL,
    `logfile` VARCHAR(50) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ipndata` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `ipn_type` TEXT NULL,
    `ipn_rawdata` LONGTEXT NULL,
    `user_id` INTEGER NOT NULL DEFAULT 0,
    `createdAt` BIGINT NULL,
    `status` TEXT NOT NULL,
    `error` LONGTEXT NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ipndata1` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `ipn_type` TEXT NULL,
    `ipn_rawdata` LONGTEXT NULL,
    `user_id` INTEGER NOT NULL DEFAULT 0,
    `createdAt` BIGINT NULL,
    `status` ENUM('unprocessed', 'processed', 'processedNotInDB', 'error', 'inactiveuser') NOT NULL,
    `error` LONGTEXT NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ipndata_inv` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `ipn_type` TEXT NULL,
    `ipn_rawdata` LONGTEXT NULL,
    `user_id` INTEGER NOT NULL DEFAULT 0,
    `createdAt` BIGINT NULL,
    `status` ENUM('unprocessed', 'processed', 'processedNotInDB', 'error', 'inactiveuser') NOT NULL,
    `error` LONGTEXT NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ipnlistingdata` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `ipn_type` TEXT NULL,
    `ipn_rawdata` LONGTEXT NULL,
    `user_id` INTEGER NOT NULL DEFAULT 0,
    `createdAt` BIGINT NULL,
    `status` ENUM('unprocessed', 'processed', 'processedNotInDB', 'error', 'inactiveuser') NOT NULL,
    `error` LONGTEXT NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ipnqueue` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `dateofmodification` DATETIME(0) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ipnrawdata` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `ipn_rawdata` LONGTEXT NOT NULL,

    INDEX `id`(`id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `locations` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(255) NOT NULL,
    `legacy` BOOLEAN NOT NULL,
    `status` ENUM('active', 'inactive') NOT NULL DEFAULT 'active',
    `shopifylocationid` VARCHAR(30) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `migrations` (
    `migration` VARCHAR(255) NOT NULL,
    `batch` INTEGER NOT NULL
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `password_resets` (
    `email` VARCHAR(255) NOT NULL,
    `token` VARCHAR(255) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    INDEX `password_resets_email_index`(`email`),
    INDEX `password_resets_token_index`(`token`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `pending_product_publish` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `shproduct_id` BIGINT UNSIGNED NOT NULL,
    `processing` TINYINT NULL,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `created_at` TIMESTAMP(0) NULL,
    `updated_at` TIMESTAMP(0) NULL,

    INDEX `pending_product_publish_user_id_foreign`(`user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `permission_role` (
    `permission_id` INTEGER UNSIGNED NOT NULL,
    `role_id` INTEGER UNSIGNED NOT NULL,

    INDEX `permission_role_role_id_foreign`(`role_id`),
    PRIMARY KEY (`permission_id`, `role_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `permissions` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(255) NOT NULL,
    `display_name` VARCHAR(255) NULL,
    `description` VARCHAR(255) NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    UNIQUE INDEX `permissions_name_unique`(`name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `processimports` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `count` INTEGER NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `product_description` (
    `id` BIGINT NOT NULL AUTO_INCREMENT,
    `product_id` INTEGER NOT NULL,
    `description` LONGTEXT NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `product_description1` (
    `id` BIGINT NOT NULL AUTO_INCREMENT,
    `product_id` INTEGER NOT NULL,
    `description` BLOB NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `product_images` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `variant_id` INTEGER NOT NULL,
    `imgurl` VARCHAR(255) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `product_images_auc` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `variant_id` INTEGER NOT NULL,
    `imgurl` VARCHAR(255) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `product_variants` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `product_id` INTEGER NOT NULL,
    `sku` VARCHAR(100) NOT NULL,
    `ebayitemid` VARCHAR(30) NOT NULL,
    `option1val` VARCHAR(100) NOT NULL,
    `option2val` VARCHAR(100) NOT NULL,
    `option3val` VARCHAR(100) NOT NULL,
    `option4val` VARCHAR(100) NOT NULL,
    `option5val` VARCHAR(100) NOT NULL,
    `price` DOUBLE NOT NULL,
    `orig_price` DOUBLE NOT NULL,
    `quantity` INTEGER NOT NULL,
    `productidtype` INTEGER NOT NULL,
    `productid` VARCHAR(30) NOT NULL,
    `weight` FLOAT NOT NULL,
    `weight_unit` VARCHAR(10) NOT NULL DEFAULT 'lb',
    `imageurl` VARCHAR(500) NOT NULL,
    `newflag` TINYINT NOT NULL,
    `quantityflag` TINYINT NOT NULL,
    `priceflag` TINYINT NOT NULL,
    `block` BOOLEAN NOT NULL,
    `duplicate` BOOLEAN NOT NULL,
    `status` ENUM('Already Exist', 'Ready to Import', 'Import in progress', 'Imported') NOT NULL DEFAULT 'Ready to Import',
    `shopifyproductid` VARCHAR(30) NOT NULL,
    `shopifyvariantid` VARCHAR(30) NOT NULL,
    `shopifyinventoryid` VARCHAR(30) NOT NULL,
    `shopifylocationid` VARCHAR(30) NOT NULL,
    `gid_shopifyinventoryid` VARCHAR(100) NOT NULL,
    `gid_shopifylocationid` VARCHAR(100) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `deleted` BOOLEAN NOT NULL DEFAULT false,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `product_variants_auc` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `product_id` INTEGER NOT NULL,
    `sku` VARCHAR(100) NOT NULL,
    `ebayitemid` VARCHAR(30) NOT NULL,
    `option1val` VARCHAR(100) NOT NULL,
    `option2val` VARCHAR(100) NOT NULL,
    `option3val` VARCHAR(100) NOT NULL,
    `option4val` VARCHAR(100) NOT NULL,
    `option5val` VARCHAR(100) NOT NULL,
    `price` DOUBLE NOT NULL,
    `orig_price` DOUBLE NOT NULL,
    `quantity` INTEGER NOT NULL,
    `productidtype` INTEGER NOT NULL,
    `productid` VARCHAR(30) NOT NULL,
    `weight` FLOAT NOT NULL,
    `weight_unit` VARCHAR(10) NOT NULL DEFAULT 'lb',
    `imageurl` VARCHAR(500) NOT NULL,
    `newflag` TINYINT NOT NULL,
    `quantityflag` TINYINT NOT NULL,
    `priceflag` TINYINT NOT NULL,
    `block` BOOLEAN NOT NULL,
    `duplicate` BOOLEAN NOT NULL,
    `status` ENUM('Already Exist', 'Ready to Import', 'Import in progress', 'Imported') NOT NULL DEFAULT 'Ready to Import',
    `shopifyproductid` VARCHAR(30) NOT NULL,
    `shopifyvariantid` VARCHAR(30) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `deleted` BOOLEAN NOT NULL DEFAULT false,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `products` (
    `product_id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(500) NOT NULL,
    `description` TEXT NOT NULL,
    `item_specific` TEXT NOT NULL,
    `condition_val` VARCHAR(255) NOT NULL,
    `condition_note` VARCHAR(1000) NOT NULL,
    `brand` VARCHAR(100) NOT NULL,
    `product_type` VARCHAR(500) NOT NULL,
    `storecategoryid` VARCHAR(50) NOT NULL,
    `storecategoryid2` VARCHAR(50) NOT NULL,
    `option1name` VARCHAR(100) NOT NULL,
    `option2name` VARCHAR(100) NOT NULL,
    `option3name` VARCHAR(100) NOT NULL,
    `option4name` VARCHAR(100) NOT NULL,
    `option5name` VARCHAR(100) NOT NULL,
    `ebayitemid` VARCHAR(30) NOT NULL,
    `shopifyproductid` VARCHAR(30) NOT NULL,
    `newflag` TINYINT NOT NULL,
    `quantityflag` TINYINT NOT NULL,
    `priceflag` TINYINT NOT NULL,
    `block` BOOLEAN NOT NULL,
    `duplicate` BOOLEAN NOT NULL,
    `deleted` BOOLEAN NOT NULL DEFAULT false,
    `status` ENUM('Already Exist', 'Ready to Import', 'Import in progress', 'Imported', 'reimport in progress', 'error') NOT NULL DEFAULT 'Ready to Import',
    `errdetails` VARCHAR(2000) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `site` INTEGER NOT NULL DEFAULT -1,
    `channel_id` INTEGER NOT NULL DEFAULT -1,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `searchstring` VARCHAR(2000) NOT NULL,

    PRIMARY KEY (`product_id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `products_auc` (
    `product_id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(500) NOT NULL,
    `description` TEXT NOT NULL,
    `item_specific` TEXT NOT NULL,
    `condition_val` VARCHAR(255) NOT NULL,
    `condition_note` VARCHAR(500) NOT NULL,
    `brand` VARCHAR(100) NOT NULL,
    `product_type` VARCHAR(100) NOT NULL,
    `storecategoryid` VARCHAR(50) NOT NULL,
    `option1name` VARCHAR(100) NOT NULL,
    `option2name` VARCHAR(100) NOT NULL,
    `option3name` VARCHAR(100) NOT NULL,
    `option4name` VARCHAR(100) NOT NULL,
    `option5name` VARCHAR(100) NOT NULL,
    `ebayitemid` VARCHAR(30) NOT NULL,
    `shopifyproductid` VARCHAR(30) NOT NULL,
    `newflag` TINYINT NOT NULL,
    `quantityflag` TINYINT NOT NULL,
    `priceflag` TINYINT NOT NULL,
    `block` BOOLEAN NOT NULL,
    `duplicate` BOOLEAN NOT NULL,
    `deleted` BOOLEAN NOT NULL DEFAULT false,
    `status` ENUM('Already Exist', 'Ready to Import', 'Import in progress', 'Imported', 'reimport in progress') NOT NULL DEFAULT 'Ready to Import',
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`product_id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `regular_expressions` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `regex` VARCHAR(500) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `role_user` (
    `user_id` INTEGER UNSIGNED NOT NULL,
    `role_id` INTEGER UNSIGNED NOT NULL,

    INDEX `role_user_role_id_foreign`(`role_id`),
    PRIMARY KEY (`user_id`, `role_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `roles` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(255) NOT NULL,
    `display_name` VARCHAR(255) NULL,
    `description` VARCHAR(255) NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    UNIQUE INDEX `roles_name_unique`(`name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `route_permission` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `route` VARCHAR(255) NOT NULL,
    `permissions` VARCHAR(255) NULL,
    `roles` VARCHAR(255) NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    UNIQUE INDEX `route_permission_route_unique`(`route`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `settings` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `published` BOOLEAN NOT NULL,
    `fulfilment_service` VARCHAR(50) NOT NULL DEFAULT 'manual',
    `tags` VARCHAR(255) NULL,
    `vendor` VARCHAR(255) NULL,
    `product_type` VARCHAR(255) NULL,
    `taxable` BOOLEAN NOT NULL DEFAULT true,
    `inventory_policy` VARCHAR(50) NOT NULL,
    `inventory_sync` BOOLEAN NOT NULL,
    `price_sync` BOOLEAN NOT NULL,
    `autodelete` BOOLEAN NOT NULL DEFAULT false,
    `autolink` BOOLEAN NOT NULL DEFAULT false,
    `autoimport` BOOLEAN NOT NULL DEFAULT false,
    `shopifyorders` BOOLEAN NOT NULL DEFAULT false,
    `shopifyorders_action` ENUM('end', 'outofstock') NOT NULL DEFAULT 'end',
    `realtime` BOOLEAN NOT NULL DEFAULT false,
    `twowaysync` BOOLEAN NOT NULL DEFAULT false,
    `desc_cond` BOOLEAN NOT NULL DEFAULT false,
    `desc_itemspecs` BOOLEAN NOT NULL DEFAULT false,
    `autoupdate_config` VARCHAR(1000) NOT NULL,
    `category` BOOLEAN NOT NULL DEFAULT false,
    `outofstock_action` ENUM('unpublish', 'outofstock', 'delete') NOT NULL DEFAULT 'outofstock',
    `markupenabled` TINYINT NOT NULL DEFAULT 0,
    `markuptype` ENUM('FIXED', 'PERCEN') NOT NULL DEFAULT 'FIXED',
    `markupval` FLOAT NOT NULL DEFAULT 0,
    `markupvalfixed` FLOAT NOT NULL DEFAULT 0,
    `markupround` BOOLEAN NOT NULL DEFAULT true,
    `shopifylocationid` VARCHAR(30) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `ShopifyToEbay` BOOLEAN NULL DEFAULT false,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shippingcost` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `product_id` INTEGER NOT NULL,
    `service_type` VARCHAR(200) NOT NULL,
    `cost` DOUBLE NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shopify_product_variants` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(500) NULL,
    `sku` VARCHAR(255) NOT NULL,
    `image` VARCHAR(500) NULL,
    `barcode` VARCHAR(255) NULL,
    `quantity` INTEGER NULL,
    `price` DOUBLE NULL,
    `compare_at_price` DOUBLE NULL,
    `shopify_variant_id` BIGINT UNSIGNED NOT NULL,
    `shopify_inventory_item_id` BIGINT UNSIGNED NOT NULL,
    `shopify_product_id` BIGINT UNSIGNED NOT NULL,
    `shopify_product_handle` VARCHAR(500) NOT NULL,
    `shopify_variant_data` LONGTEXT NULL,
    `variant_id` BIGINT UNSIGNED NULL,
    `shproduct_id` BIGINT UNSIGNED NOT NULL,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `created_at` TIMESTAMP(0) NULL,
    `updated_at` TIMESTAMP(0) NULL,
    `product_id` VARCHAR(255) NOT NULL,
    `status` VARCHAR(100) NOT NULL,
    `option1val` VARCHAR(100) NOT NULL,
    `option2val` VARCHAR(100) NOT NULL,
    `option3val` VARCHAR(100) NOT NULL,

    INDEX `product_variants_user_id_foreign`(`user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shopify_products` (
    `shproduct_id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(500) NOT NULL,
    `image` VARCHAR(500) NULL,
    `status` VARCHAR(100) NULL DEFAULT 'unpublished',
    `shopify_product_id` BIGINT UNSIGNED NOT NULL,
    `shopify_product_handle` VARCHAR(500) NOT NULL,
    `shopify_product_type` VARCHAR(255) NULL,
    `shopify_product_data` LONGTEXT NULL,
    `offer_only` TINYINT NULL,
    `submit` TINYINT NULL,
    `product_id` BIGINT UNSIGNED NULL,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `created_at` TIMESTAMP(0) NULL,
    `updated_at` TIMESTAMP(0) NULL,
    `option1name` VARCHAR(100) NOT NULL,
    `option2name` VARCHAR(100) NOT NULL,
    `option3name` VARCHAR(100) NOT NULL,

    PRIMARY KEY (`shproduct_id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shopify_requests` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `inprocess` BOOLEAN NOT NULL,
    `status` ENUM('pending', 'completed') NOT NULL,
    `user_id` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shopifycategories` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(500) NULL,
    `shopifycategoryid` VARCHAR(50) NULL,
    `user_id` INTEGER NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shopifyorders` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `orderid` VARCHAR(50) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `orderdata` TEXT NOT NULL,
    `inventoryupdates` VARCHAR(5000) NOT NULL,
    `processed` BOOLEAN NOT NULL DEFAULT false,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shopifyproducts` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `productid` VARCHAR(30) NOT NULL,
    `variantid` VARCHAR(30) NOT NULL,
    `gid_shopifyproductid` VARCHAR(100) NOT NULL,
    `gid_shopifyvariantid` VARCHAR(100) NOT NULL,
    `gid_shopifyinventoryid` VARCHAR(100) NOT NULL,
    `gid_shopifylocationid` VARCHAR(100) NOT NULL,
    `sku` VARCHAR(100) NOT NULL,
    `ebayitemid` VARCHAR(30) NOT NULL,
    `dateofmodification` DATETIME(0) NOT NULL,
    `qty` INTEGER NOT NULL,
    `price` FLOAT NOT NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shopifyproducts1` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `title` VARCHAR(2000) NOT NULL,
    `productid` VARCHAR(30) NOT NULL,
    `variantid` VARCHAR(30) NOT NULL,
    `gid_shopifyproductid` VARCHAR(100) NOT NULL,
    `gid_shopifyvariantid` VARCHAR(100) NOT NULL,
    `gid_shopifyinventoryid` VARCHAR(100) NOT NULL,
    `gid_shopifylocationid` VARCHAR(100) NOT NULL,
    `sku` VARCHAR(100) NOT NULL,
    `ebayitemid` VARCHAR(30) NOT NULL,
    `dateofmodification` DATETIME(0) NOT NULL,
    `qty` INTEGER NOT NULL,
    `price` FLOAT NOT NULL,
    `compare_at_price` FLOAT NOT NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shopifyproducts_15750` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `productid` VARCHAR(30) NOT NULL,
    `variantid` VARCHAR(30) NOT NULL,
    `gid_shopifyproductid` VARCHAR(100) NOT NULL,
    `gid_shopifyvariantid` VARCHAR(100) NOT NULL,
    `gid_shopifyinventoryid` VARCHAR(100) NOT NULL,
    `gid_shopifylocationid` VARCHAR(100) NOT NULL,
    `sku` VARCHAR(100) NOT NULL,
    `ebayitemid` VARCHAR(30) NOT NULL,
    `dateofmodification` DATETIME(0) NOT NULL,
    `qty` INTEGER NOT NULL,
    `price` FLOAT NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `option1val` VARCHAR(255) NOT NULL,
    `option2val` VARCHAR(255) NOT NULL,
    `option3val` VARCHAR(255) NOT NULL,
    `options` TEXT NOT NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `shopifyproducts_3784` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `productid` VARCHAR(30) NOT NULL,
    `variantid` VARCHAR(30) NOT NULL,
    `gid_shopifyproductid` VARCHAR(100) NOT NULL,
    `gid_shopifyvariantid` VARCHAR(100) NOT NULL,
    `gid_shopifyinventoryid` VARCHAR(100) NOT NULL,
    `gid_shopifylocationid` VARCHAR(100) NOT NULL,
    `sku` VARCHAR(100) NOT NULL,
    `ebayitemid` VARCHAR(30) NOT NULL,
    `dateofmodification` DATETIME(0) NOT NULL,
    `qty` INTEGER NOT NULL,
    `price` FLOAT NOT NULL,

    PRIMARY KEY (`id`, `user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `sku_asin_mapping` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `sku` VARCHAR(30) NOT NULL,
    `asin` VARCHAR(30) NOT NULL,
    `quantity` INTEGER NOT NULL,
    `user_id` INTEGER NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `storecategories` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `category_id` VARCHAR(50) NOT NULL,
    `category_name` VARCHAR(500) NOT NULL,
    `parent_id` VARCHAR(50) NOT NULL,
    `shopifycategoryid` VARCHAR(30) NOT NULL,
    `metadata` VARCHAR(2000) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `dirty` BOOLEAN NOT NULL DEFAULT false,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `temp_32` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(2000) NOT NULL,
    `handle` VARCHAR(2000) NOT NULL,
    `shopifyproductid` VARCHAR(100) NOT NULL,
    `dup` BOOLEAN NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `test16702` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `product_id` INTEGER NOT NULL,
    `handle` VARCHAR(500) NOT NULL,
    `dateofmodification` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `test_1057` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `shopifyproductid` VARCHAR(50) NOT NULL,
    `imgarr` TEXT NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `test_3435` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `shopifyproductid` VARCHAR(30) NOT NULL,
    `tags` TEXT NOT NULL,
    `dateofmodification` DATETIME(0) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `test_3784` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `variantid` INTEGER NOT NULL,
    `qty` INTEGER NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `test_8146` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `sku` VARCHAR(100) NOT NULL,
    `shopifyvariantid` VARCHAR(30) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `users` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `ownername` VARCHAR(255) NOT NULL,
    `email` VARCHAR(150) NOT NULL,
    `password` VARCHAR(60) NOT NULL,
    `avatar_url` VARCHAR(50) NOT NULL,
    `shopurl` TEXT NOT NULL,
    `token` VARCHAR(255) NOT NULL,
    `status` ENUM('active', 'inactive') NOT NULL,
    `multi_location_enabled` BOOLEAN NOT NULL DEFAULT false,
    `multiple_eb_accounts` BOOLEAN NOT NULL DEFAULT false,
    `catalogfetched` TINYINT NOT NULL,
    `shopifyimported` TINYINT NOT NULL,
    `tempcode` VARCHAR(30) NOT NULL,
    `installationstatus` TINYINT NOT NULL,
    `membershiptype` ENUM('free', 'paid') NOT NULL,
    `plan` INTEGER NOT NULL,
    `sync` TINYINT NOT NULL,
    `storecreated_at` DATETIME(0) NOT NULL,
    `storeupdated_at` DATETIME(0) NOT NULL,
    `plan_name` VARCHAR(255) NOT NULL,
    `skulimit` INTEGER NOT NULL DEFAULT 5,
    `skuconsumed` INTEGER NOT NULL,
    `tosaccepted` TINYINT NOT NULL,
    `publishstatus` TINYINT NOT NULL,
    `keysemail` TINYINT NOT NULL,
    `remember_token` VARCHAR(100) NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `paid_at` TIMESTAMP(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `deleted_at` TIMESTAMP(0) NULL,
    `lastlogin` DATETIME(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `lastimport` DATETIME(0) NOT NULL DEFAULT ('0000-00-00 00:00:00'),
    `usermsg` VARCHAR(500) NOT NULL,
    `review` BOOLEAN NOT NULL,
    `discount` FLOAT NOT NULL,
    `custommode` BOOLEAN NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `validipnusers` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `userId` INTEGER NOT NULL,
    `test` VARCHAR(2000) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `permission_role` ADD CONSTRAINT `permission_role_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `permission_role` ADD CONSTRAINT `permission_role_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `role_user` ADD CONSTRAINT `role_user_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `role_user` ADD CONSTRAINT `role_user_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

